.exemption-count-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    
    margin: 20px;
    height: fit-content;
    width: 300px; 
    max-width: 100%; 
    box-shadow: 0 2px 8px rgba(143, 143, 143, 0.6);
    background: linear-gradient(0deg, rgba(157, 139, 139, 1) 0%, rgba(20, 7, 27, 1) 100%);
    text-align: center;
}

.exemption-count-title {
    font-size: 18px; 
    margin-bottom: 10px;
    color: white;
}

.exemption-count {
    font-size: 30px; 
    font-weight: bold;
    color: #ff9800;
}
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 20px;
    height: fit-content;
    width: 300px; 
    box-shadow: 0 2px 8px rgb(143, 143, 143);
    background: linear-gradient(0deg, rgba(157, 139, 139, 1) 0%, rgba(20, 7, 27, 1) 100%);
    text-align: center;
}

